[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui
[submodule "vendor/openvr"]
	path = vendor/openvr
	url = https://github.com/ValveSoftware/openvr.git
[submodule "vendor/minhook"]
	path = vendor/minhook
	url = https://github.com/bdunderscore/minhook.git
